{% extends 'base.html' %}

{% block header %}
<h4>{% block title %}{{_("%(rtitle)s",rtitle=rtitle)}}{% endblock %}</h4>
<script type="text/javascript">
function disable()
{
         document.getElementById("accept").disabled=true;
}
function enable()
{
         document.getElementById("accept").disabled=false;
}
</script>
{% endblock %}

{% block content %}
<div class="row clearfix">
  <div class="col-md-12 column col-sm-offset-2">
  <form method="post" role="form" class="form-horizontal">
    {{ form.hidden_tag() }}
    <div class="form-group">
    <label class="col-sm-2 control-label">{{ _("%(username)s", username=form.username.label) }}:</label>
      <div class="col-sm-4">
    {{form.username(size=32, class='form-control')}}
      </div>
      {% for error in form.username.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">{{ _("%(password)s", password=form.password.label) }}:</label>
      <div class="col-sm-4">
    {{form.password(size=32, class='form-control')}}
      </div>
      {% for error in form.password.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">{{ _("%(password2)s", password2=form.password2.label) }}:</label>
      <div class="col-sm-4">
    {{form.password2(size=32, class='form-control')}}
      </div>
      {% for error in form.password2.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">{{ _("%(email)s", email=form.email.label) }}:</label>
      <div class="col-sm-4">
    {{form.email(size=64, class='form-control')}}
      </div>
    </div>
    <div class="form-group">
    <label class="col-sm-2 control-label">{{form.phone.label}}:</label>
      <div class="col-sm-4">
    {{form.phone(size=64, class='form-control')}}
      </div>
    </div>
    <div class="form-group">
     <label class="col-sm-2 control-label">{{ _("%(identity)s", identity=form.identity.label) }}:</label>
     <div class="col-sm-2">
       {{form.identity(size=32, class='form-control')}}
     </div>
     <span style="color: orange; font-style: italic;">* student or teacher</span>
   </div>
    <div class="form-group">
    <div class="col-sm-10 col-sm-offset-2">
      <div class="checkbox">
        <label><input type="checkBox" onclick="if (this.checked) {enable()} else {disable()}">同意 <a href="#">用户协议与隐私条款</a></label>
      </div>
      </div>
    </div>
    <br>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-10">
        <input id="accept" type="submit" disabled="true" value="Register">
      </div>
    </div>
  </form>
  </div>
</div>
{% endblock %}