{% extends 'base.html'%}

{% block content %}
<div class="container">
	<div class="row clearfix">
		<div class="col-md-12 column">
<h3>
            <img alt="150x150" src="/static/img/icon.png"> Out-of-Box English Learning 课程大纲
			</h3>
			<p><font size="4">
				本课程是基于CLIL(内容语言综合学习方法)开发的外教真人一对一互动课，涵盖了口语、听力、阅读和写作四个领域。
				<ul>
			<li>面向对象：3-9年级有一定基础，同时想借助课外时间提升自己英语综合能力的学生。</li>
			<li>课程特色：内容紧扣北美同等水平教材，包括英语词汇，语法，场景对话、阅读讲解和写作练习。</li>
			<li>课程目标：通过英语母语者的指导和全浸入式课程，帮助学生发展出自然流畅的英语口语能力。此外，课程还注重语法、学术英语技能和KET/PET/FCE考试
				特定内容衔接，这样学生不仅具备日常英语会话的能力，还可以将其转化为学业上的成功。
			<li>课程级别：分为初级、中级(I、II)和高级四个不同阶段。</li>
		</ul>
			</font>
 
<div id="pdf1" style="width:700px; height:10px;"><a href="/static/img/OBEL英语在线课程大纲.pdf">查看详细课程大纲</a></div>
			</p>
            <hr>
			<div class="panel-group" id="panel-836931">
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-836931" href="#panel-element-718261">初级课程</a>
					</div>
					<div id="panel-element-718261" class="panel-collapse collapse">
						<div class="panel-body row clearfix">
							<div class="col-md-4 column clearfix">
								<img src="/static/img/travis.png" class="img-responsive"/>
							</div>
							<div class="col-md-8 column">
								<dl>
									<dd>
										培养阅读技巧的音位意识，强调掌握字母读音，音节发音，解码和综合使用，并建立一个Sight Words词库。
										口语和听力部分旨在增加他们的基本词汇量， 建立适当的口语模式，掌握基本的语法短语，
										并通过英语表达自己和理解他人以收获自信心。
										关注KET考试的口语部分，理解和准确地回答关于自己、日常生活细节和其他日常问题。
										另一个重点是发展与考试相关的词汇，并在口头表达中准确地使用。本阶段写作并不是重点，
										主要的关注点是发展基本的拼写和字母声音识别技能，以及对杜尔斯高频词汇表前100个单词的拼写掌握。
										在这一阶段课程结束时，学生能够熟练地创造基本的句子来表达喜欢、不喜欢，他们所看到的事物以及更多内容。
									</dd>
								</dl>
							</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-836931" href="#panel-element-623767">中级课程 I</a>
					</div>
					<div id="panel-element-623767" class="panel-collapse collapse">
						<div class="panel-body row clearfix">
							<div class="col-md-8 column" >
					<dl>
						<dd>
							中级课程I是在第一阶段的基础上提高独立使用词汇、创造句子和整体语言流利性。在这一阶段，学生开始阅读更多深入的文章和故事。
							他们开始更多地探索学术英语，并将在阅读和写作方面变得更加熟练。英语口语和书面语都更加注重语法。
							完成这一阶段的学生将能够提问和回答各种各样的问题，并将能够独立使用英语而不必太多的提示。
							在这个级别上，每节课都有一个关于KET/PET技能的重点，词汇表与KET/PET词汇表部分保持一致。
							每个单元都有一个专门针对KET和PET的课程。学生将专注于考试的所有部分，包括口语、听力、阅读和写作。
						</dd>
					</dl>
				</div>
				<div class="col-md-4 column clearfix">
					<img src="/static/img/travis.png" class="img-responsive"/>
				</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-836931" href="#panel-element-718200">中级课程 II</a>
					</div>
					<div id="panel-element-718200" class="panel-collapse collapse">
						<div class="panel-body row clearfix">
							<div class="col-md-4 column clearfix">
					<img src="/static/img/travis.png" class="img-responsive"/>
				</div>
				<div class="col-md-8 column">
					<dl>
						<dd>
							在中级水平II的学生正在精细调整他们的语法使用和学习更多的深入技能，如短语动词，形容词性、名词性从句，
							动名词，和动词不定式。在这个阶段，学生将在写作领域面临更多的挑战，并将学习制作和编辑更深入的学术写作小短文。
							他们还将学习公开演讲技巧，并将被要求扩大词汇量。KET/PET系列考试仍然是重点，更强调与PET相关的技能。
							学生开始更多地关注考试技巧和与考试相关的更复杂的词汇。学生也开始学习较长的文本和内容区域。
							在中级英语II阶段，学生将会接触到三篇高级课文。这些教材是针对对应年级的，让学生有机会与英语国家同龄学生一起学习的课程进行互动。
						</dd>
					</dl>
				</div>
						</div>
					</div>
				</div>
				<div class="panel panel-default">
					<div class="panel-heading">
						 <a class="panel-title collapsed" data-toggle="collapse" data-parent="#panel-836931" href="#panel-element-623712">高级课程</a>
					</div>
					<div id="panel-element-623712" class="panel-collapse collapse">
						<div class="panel-body row clearfix">
							<div class="col-md-8 column" >
					<dl>
						<dd>
							高级英语课程的目的是为学生准备FCE及以上考试，这可能是最重要的剑桥英语水平考试。
							学生们正努力进行面对面的有效沟通，表达观点和提出论点。他们还将培养清晰、详细的英语写作技巧，表达观点和解释不同观点的优缺点。
							语法仍然是这一阶段的重点，他们将继续学习更多的技能，如情态动词、被动语态、虚拟语气、条件句和间接引语的熟练使用。
							在这一阶段，学生将已经有了扎实的语法基础，重点将是建立在已经建立的知识上，以增加该语法的下意识地自然使用。
							他们将精细调整他们的语法用法，以提高整体语言的流利性和使复杂的语法短语自然化
						</dd>
					</dl>
				</div>
				<div class="col-md-4 column clearfix">
					<img src="/static/img/travis.png" class="img-responsive"/>
				</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

{% endblock %}