{% extends 'base.html'%}

{% block content %}
<div class="container">
    <div  class="row clearfix">
        <div class="col-md-10 column col-md-offset-1">
            <h3>
                Zoom会议客户端
            </h3>
            <p>
                PC客户端可以在这里进行手动下载，也可以通过浏览器打开ZOOM Web页面后选择下载。
            </p>
            <div class="clearfix">
                <div>
                    <a href="https://zoomus.cn/client/5.1.54596.0509/ZoomInstaller.exe">
                        <img src="/static/img/download.png" class="img-responsive">
                    </a>
                </div>
            </div>
            <hr>
            <h3>
                Zoom移动客户端
            </h3>
            <p>
                移动端应用可以在这里下载后安装，也可以直接在应用市场下载。
            </p>
            <p>
            <div class="clearfix">
                <div>
                    <a href="https://itunes.apple.com/cn/app/id546505307" target="_blank">
                        <img src="/static/img/ios.png">
                    </a>&nbsp;
                    <a href="https://www.zoomus.cn/cncluster/download_and.htm" target="_blank">
                        <img src="/static/img/android.png">
                    </a>
                </div>
            </div>

            </p>

        </div>
    </div>

</div>


{% endblock %}