{% extends 'base.html' %}


{% block content %}
			<div class="col-md-3 blog-sidebar">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 id="zcr-profile"><strong>My Profile</strong></h4>
						<!--<img src="#" alt="" class="img-responsive center-block" id="#img" title=""> -->
					</div>
				</div>
				<hr>
				<div class="sidebar-module list-group blog-tags">
					<a href="{{url_for('profile.redirection')}}" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> Basic Setting
					</a>
					<a href="{{url_for('profile.change_password')}}" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> Change Password
					</a>
					<a href="{{url_for('profile.check_tuition')}}" class="list-group-item">
					<span></span>Payment Statistics
					</a>
					<a href="#" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> My Post
					</a>

				</div>
			</div>

			<div class="col-md-9 blog-main">
             <div class="row clearfix">
  <form class="col-md-9 column" method="post">
    <div class="form-group">
    <label for="real_name">Full Name: </label><input class="form-control" name="real_name" id="real_name">
	</div>
	  <div class="form-group">
		  <label for="gender">Gender: </label><input class="form-control" name="gender" id="gender">
	  </div>
	  <hr>
	  <div>
      <button class="btn btn-default" type="submit">Save</button>
		  <a href="/profile/redirection" class="btn">Cancel</a>
	  </div>
  </form>
</div>

			</div>
<!-- /.main-content -->
{% endblock %}