{% extends 'base.html' %}


{% block content %}
			<div class="col-md-3 blog-sidebar">
				<div class="panel panel-default">
					<div class="panel-heading">
						<h4 id="zcr-profile"><strong>My Profile</strong></h4>
						<!--<img src="#" alt="" class="img-responsive center-block" id="#img" title=""> -->
					</div>
				</div>
				<hr>
				<div class="sidebar-module list-group blog-tags">
					<a href="{{url_for('profile.redirection')}}" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> Basic Setting
					</a>
					<a href="{{url_for('profile.update_password')}}" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> Change Password
					</a>
					<a href="{{url_for('profile.check_tuition')}}" class="list-group-item">
					<span></span>Payment Statistics
					</a>
					<a href="#" class="list-group-item">
					<span class="icon fa fa-folder-open"></span> My Post
					</a>

				</div>
			</div>

<div class="col-md-9 blog-main">
	<div class="row clearfix">
  <form method="post" role="form" class="form-horizontal">
	  {{ form.hidden_tag() }}
    <div class="form-group">
    <label class="col-sm-2 control-label">Current Password:</label>
      <div class="col-sm-4">
    {{form.passwordOld(size=32, class='form-control')}}
	  </div>
		{% for error in form.passwordOld.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
	</div>

	  <div class="form-group">
    <label class="col-sm-2 control-label">New Password:</label>
      <div class="col-sm-4">
    {{form.passwordNew(size=32, class='form-control')}}
	  </div>
		{% for error in form.passwordNew.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
	  </div>

	  <div class="form-group">
    <label class="col-sm-2 control-label">Confirm New Password:</label>
      <div class="col-sm-4">
    {{form.passwordNewRepeat(size=32, class='form-control')}}
	  </div>
		{% for error in form.passwordNewRepeat.errors %}
      <span style="color: red;">{{ error }}</span>
      {% endfor %}
	  </div>

	  <hr>
	  <div class="form-group">
      <div class="col-sm-offset-2 col-sm-2">
        {{ form.submit()}}
	  </div>
		  <div>
		  <span><a href="/profile/redirection" class="btn">Cancel</a></span>
		  </div>
    </div>

  </form>
	</div>
</div>
<!-- /.main-content -->
{% endblock %}